html, body {
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.smooth-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  will-change: transform;
}

.smooth-content {
  /* Normal flow */
}